.headerAbout {
    font-weight: bold;
    font-size: 40px;
    color: #F4D24F;
    margin-bottom: 2%;
}

.artGrid {
    float: left;
    width: 100%;
}

.artPost {
    margin: 0% .95% 2% .95%;
}

.artPostNoLeftMargin {
    margin: 0% .95% 2% 0;
}

.artPostNoRightMargin {
    margin: 0% 0 2% .95%;
}

/* .artGrid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */