@media (min-width: 901px) {
    .headerAbout {
        font-weight: bold;
        font-size: 40px;
        color: #F4D24F;
        margin-bottom: 2%;
    }

    .artGrid {
        float: left;
        width: 100%;
    }

    .artPost {
        margin: 0% .95% 2% .95%;
        width: 32%;
        height: 32%;
    }

    .artPostNoLeftMargin {
        margin: 0% .95% 2% 0;
        width: 32%;
        height: 32%;
    }

    .artPostNoRightMargin {
        margin: 0% 0 2% .95%;
        width: 32%;
        height: 32%;
    }
}

@media (max-width: 900px) {
    .Art {
        padding: 140px 0px 0px 0px;
        width: 100vw;
    }
    .headerAbout {
        font-weight: bold;
        font-size: 40px;
        color: #F4D24F;
        margin-bottom: 2%;
    }

    .artGrid {
        float: left;
        width: 100%;
    }

    .artPost, .artPostNoLeftMargin, .artPostNoRightMargin {
        width: 45.5%;
        height: 45.5%;
        margin: 10px 0px;
    }

    .rightMargin {
        margin-right: 2.5%
    }

    .leftMargin {
        margin-left: 2.5%
    }
}