@media (min-width: 901px) {
    .Navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 12%;
        font-size: 30px;
        color: white;
    }

    .nav-buttons {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-evenly;
        
    }

    .site-name {
        color: #F4D24F;
    }
}

@media (max-width: 900px) {
    .site-name {
        color: #F4D24F;
    }
    .Menu {
        /* position: fixed;
        top: 0;
        left: 0; */
        display: flex;
        justify-content: space-between;
        width: 90vw;
        font-size: 30px;
        /* background: rgba(255, 209, 81, 0.3) */
    }
    
    .nav-buttons {
        width: 20%;
    }
}