.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 12%;
    font-size: 30px;
    color: white;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
    
}

.site-name {
    color: #F4D24F;
}

/* .Nav-Button {
    color: white;
    text-decoration: 
} */