@media (min-width: 901px) {
    .mochaText {
        color: white;
        text-align: center;
        margin: 25vh
    }
}

@media (max-width: 901px) {
    .mochaText {
        color: white;
        text-align: center;
        padding: 50vh 0%;
    }
}