@import url('https://fonts.googleapis.com/css?family=Inria Sans');

* {
    font-family: 'Inria Sans';
}

body {
    background: black;
    /* background: linear-gradient(90deg, black 60%, grey);
    background: linear-gradient(to bottom right, black 20%, grey); */
    
    /* height: 100vh; */
    padding: 0px 30px
}

hr {
    border-color: #F4D24F;
    background-color: #F4D24F;
    height: 5px;
}