@import url('https://fonts.googleapis.com/css?family=Inria Sans');

* {
    font-family: 'Inria Sans';
}

body {
    background: black;
    /* background: linear-gradient(90deg, black 60%, grey);
    background: linear-gradient(to bottom right, black 20%, grey); */
    
    /* height: 100vh; */
}

hr {
    border-color: #F4D24F;
    background-color: #F4D24F;
    height: 5px;
}

@media (min-width: 901px) {
    body {
        padding: 0px 30px
    }

}

@media (max-width: 900px) {
    body {
        padding: 0px 0px
    }

}