.Blog {
    color: white;
}



.project {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 270px;
    margin: 0px;

    .projectTitle, .projectYear {
        color: #F4D24F;
        font-size: 30px;
        margin: 10px 0px;

    }
    .projectDesc {
        color: white;
        font-size: 15px;
    }

    .projectImg img {
        border-radius: 50px;
    }
}


.Code {
    color: white;
}

.projectGrid {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.Hero {
    /* height: 28vh; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 0px 30px 0px;
    padding: 20px 10%;
}

.meImg img {
    border-radius: 200px;
    align-self: baseline;
}

.AboutMe {
    padding: 0px 0px 0px 10%;
    margin: 5px;
}

.headerAbout {
    font-weight: bold;
    font-size: 40px;
    color: #F4D24F;
}

.headerContent {
    font-size: 20px;
}

.WorkRow {
    padding: 0px 15%;
    display: flex;
    align-items: center;

    .WorkYear {
        font-size: 40px;
        align-self: baseline;
        text-align: center;
        max-width: 240px;
    }
}

.Experience {
    padding: 0px 0px 0px 20%;
    margin: 5px;

    .WorkPlace {
        font-size: 30px;
    }

    /* .WorkPlace:before {
        content:"• ";
        color: #F4D24F;
    } */

    .WorkDesc {
        font-size: 20px;
    }

    /* .exp {
        display: list-item;
        list-style-type: disc;
    } */
}

li::marker {
    color: #F4D24F;
    font-size: 2rem;
}